/* *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
body {
    padding: 100px 400px;
    margin: 5px;
    font-size: 15px;
    color: #1f37a1;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
h1 {
    color: #1f37a1;
    font-size: 32px;
    text-align: center;
}
input {
    margin: 5px;    
}
p{
    margin: 10px 0;
}