*{
    margin: 0;
    padding: 0;
}

:root{

}
body{
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
}
input[type="search"]
{
    border-radius: 10px;
    border-width: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
}
header > ul {
    visibility: hidden;
}
.hero > div {
    display: flex;
    flex-direction: column;
}
figure {
    display: flex;
}
pre {
    font-size: smaller;
    color: gray;
}
h1{
     text-align: center;
     margin-bottom: 15px;
}
.hero_section {
    margin-left: 15px;
    padding: 5px;
}
.hero_section > h2 {
        padding: 5px 0;
        
    }

.hero_section > strong ,pre {
    display: inline;
}

.article_grid > div {
    width: 300px;
    font-size: 0.5rem;
}
@media screen and (min-width :992px){
    .hero >div {
        flex-direction: row;
    }
    .article_grid  {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
       
    }
    header {
        justify-content: space-around;
    }
    header > ul {
        display: flex;
        list-style-type: none; 
        visibility: visible;
        column-gap: 8px;
    }
}